### Basic Data Structures

In [ ]:
# list examples 

names = ['segun','wale','tony','Habeeb']
type(names)

tuple

In [ ]:
# create a list of numbers between 1 and 10
numbers = [1.5,2,3,4,5,6,7,8,9,10]
print(numbers)
# demonstrating the heterogenous capabilities of python lists
numbers = [1.5,2,3,4,5,6,7,8,9,10,'taye',[True,False, 8.5]]
numbers

[1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'taye', [True, False, 8.5]]

In [12]:
# create large list of numbers
# list of numbers between 3 and 21
list(range(3, 21))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
# using steps with lists

# return all even numbers between 2 and 20
list(range(2, 21, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
list(range(1,30,5))

[1, 6, 11, 16, 21, 26]

### list methods and functions

In [39]:
# append method

students = ['wale','tobi']
students.append('samuel')

students

['wale', 'tobi', 'samuel']

In [40]:
students.append('rashid')
students

['wale', 'tobi', 'samuel', 'rashid']

In [20]:
# len function

# count the numbers of students in the students list

len(students)

4

In [36]:
# sum function

# get the sum of odd numbers between 2 and 65

nums = list(range(3,66,2))
sum(nums)

1088

In [41]:
# extend 
new_students = ['fola','deji','tomi']

students.extend(new_students)

In [42]:
students

['wale', 'tobi', 'samuel', 'rashid', 'fola', 'deji', 'tomi']

#### assignment

research and work with any five list functions and methods of your choice

### LIST SLICING AND INDEXING

In [54]:
students

['wale', 'tobi', 'samuel', 'rashid', 'fola', 'deji', 'tomi']

In [62]:
students[2:]

['samuel', 'rashid', 'fola', 'deji', 'tomi']

In [72]:
football = [
    ['utd','bruno',3],
    ['chelsea','palmer',2],
    ['arsenal','saka',0]
]
football[1][1]

'palmer'

### FOR LOOPS

In [77]:
for name in students:
    print(f'Hi {name} how are you')

Hi wale how are you
Hi tobi how are you
Hi samuel how are you
Hi rashid how are you
Hi fola how are you
Hi deji how are you
Hi tomi how are you

In [80]:
# write a simple program that returns 
# numbers between 117 and 200 that are divible 13

bucket = []
for num in range(117, 201):
    if num % 13 == 0:
        bucket.append(num)
        
bucket

[117, 130, 143, 156, 169, 182, 195]

In [ ]:
# a program that allows our students to sign-in based on their name.

name = input('put name here: ')
if name in students:
    password = input(f'Hi {name} put password')
    if password == name[::-1]:
        print('Access granted')
    else:
        print('Wrong Password')
else:
    print('you are not a stundent')

In [85]:
name = 'tola'
name[::-1]

'alot'